@charset "UTF-8";
/* CSS Document */
html,body,h1,h2,h3,h4,p{
    color:rgb(6, 6, 6);
}
body{
    /* type hieronder de code voor de achtergrondkleur maar zorg er voor dat je binnen het } blijft! */
    background-color: rgb(252, 255, 252);
    
}
.linkerzijde-met-afbeelding{
    position:fixed;
    top:0;
    left:0;
    width:480px;
    height:100%;
    background-image:url("images/keyvisual_achtergrond.jpg");
}

.rechterzijde-met-tekst{
    position:absolute;
    width:768px;
    left: 500px;
    margin-bottom:30px;
    padding:50px;
    /* type hieronder de code voor de achtergrondkleur maar zorg er voor dat je binnen het } blijft! */
    font-family: Arial, sans-serif;
}

h1{
    /* type hieronder de code voor de tekstkleur maar zorg er voor dat je binnen het } blijft! */
    
}
h2{
    /* type hieronder de code voor de tekstkleur maar zorg er voor dat je binnen het } blijft! */
    
}
h3{
    /* type hieronder de code voor de tekstkleur maar zorg er voor dat je binnen het } blijft! */
    
}
h4{
    /* type hieronder de code voor de tekstkleur maar zorg er voor dat je binnen het } blijft! */
    
}
p{
    /* type hieronder de code voor de tekstkleur maar zorg er voor dat je binnen het } blijft! */
    
}

.footer-plaatje{
    border: 1vh solid white;
    box-shadow: 2px 2px 2px black;
}